<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Curriculum</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="http://portalses.saude.sc.gov.br"><img class="img-circle img-responsive" src="img/about/logo_governo_catarinense.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002</h4>
                                    <h4 class="subheading">Intern</h4>
                                    <h4 class="subheading">Secretaria do Estado da Saúde de Santa Catarina</h4>
                                    <h4 class="subheading">Analista de Suporte Técnico</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Suporte aos usuários em sistemas, aplicativos, redes e telecomunicações e zelo pelos recursos de hardware e software.</p>
                                    <p class="text-muted">Serviços de backup, formatação de equipamentos, instalação de sistemas operacionais e de softwares e montagem de microcomputadores e redes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.gennera.com.br"><img class="img-circle img-responsive" src="img/about/logo_gennera.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004</h4>
                                    <h4 class="subheading">Intern</h4>
                                    <h4 class="subheading">Gennera</h4>
                                    <h4 class="subheading">Analista de Testes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Identificação das necessidades do negócio e definição dos requisitos, criação de especificações e modelagem dos requisitos.</p>
                                    <p class="text-muted">Teste de software funcional e exploratório, análise de requisitos e criação de casos de testes.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.tre-sc.jus.br"><img class="img-circle img-responsive" src="img/about/logo_tre.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005</h4>
                                    <h4 class="subheading">Intern</h4>
                                    <h4 class="subheading">Tribunal Regional Eleitoral de Santa Catarina</h4>
                                    <h4 class="subheading">Analista de Suporte Técnico</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Suporte aos usuários em sistemas, aplicativos, redes e telecomunicações e zelo pelos recursos de hardware e software.</p>
                                    <p class="text-muted">Serviços de backup, formatação de equipamentos, instalação de sistemas operacionais e desoftwares e montagem de microcomputadores e redes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.marconsoft.com.br"><img class="img-circle img-responsive" src="img/about/logo_marconsoft.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007</h4>
                                    <h4 class="subheading">Intern</h4>
                                    <h4 class="subheading">Marconsoft Sistemas</h4>
                                    <h4 class="subheading">Analista de Testes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Identificação das necessidades do negócio e definição dos requisitos, criação de especificações e modelagem dos requisitos.</p>
                                    <p class="text-muted">Teste de software funcional e exploratório, análise de requisitos e criação de casos de testes. Uso do framework JUnit no desenvolvimento de software.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo_autonomo.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008</h4>
                                    <h4 class="subheading">Autônomo</h4>
                                    <h4 class="subheading">Florianópolis e Região Metropolitana</h4>
                                    <h4 class="subheading">Analista de Suporte Técnico de Hardware e Redes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Suporte aos usuários em sistemas, aplicativos, redes e telecomunicações e zelo pelos recursos de hardware e software.</p>
                                    <p class="text-muted">Serviços de backup, formatação de equipamentos, instalação de sistemas operacionais e desoftwares e montagem de microcomputadores e redes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://freehammer.github.io"><img class="img-circle img-responsive" src="img/about/logo_freehammer.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4>
                                    <h4 class="subheading">FreeHammer - Consulting & Associates</h4>
                                    <h4 class="subheading">Consultor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Desenvolvimento e implementação de projetos de consultoria.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.cursosupgrade.com.br"><img class="img-circle img-responsive" src="img/about/logo_upgrade.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Cursos Upgrade</h4>
                                    <h4 class="subheading">Instrutor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Criação e execução de treinamentos <em>on demand</em> e <em>in company.</em></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.arendasistemas.com.br"><img class="img-circle img-responsive" src="img/about/logo_arenda.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Arenda Sistemas Integrados</h4>
                                    <h4 class="subheading">Administrador de Sistemas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Planejamento, desenvolvimento e gestão de redes. Gerenciamento do parque tecnológico.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.opens.com.br"><img class="img-circle img-responsive" src="img/about/logo_opens.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Opens Tecnologia</h4>
                                    <h4 class="subheading">Customer Success Ops</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gestão de sucesso do cliente desenvolvendo métricas de monitoramento baseadas no NPS (Net Promoter Score) e KPI (Key Performance Indicator). </p>
                                    <p class="text-muted">Análise,   acompanhamento   e   monitoramento   de   todas   as   etapas   de   implementação, uso, treinamento e suporte.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.grupofluxum.tk"><img class="img-circle img-responsive" src="img/about/logo_fluxum.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Grupo Fluxum</h4>
                                    <h4 class="subheading">Analista de Sistemas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Análise e desenvolvimento de projetos de sistemas, levantamento de requisitos, mapeamento de processos e modelagem de dados.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <a href="http://portal.cbpf.br"><img class="img-circle img-responsive" src="img/about/logo_cbpf.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Janeiro 2017</h4>
                                    <h4 class="subheading">CBPF</h4>
                                    <h4 class="subheading">Analista de Segurança</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Análise e manutenção da segurança da informação, prevenção de ataques internos e externos, redução de vulnerabilidades de sistemas computacionais assim como da infraestrutura de redes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.lituus.tk"><img class="img-circle img-responsive" src="img/about/logo_lituussec+.svg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Março 2017</h4>
                                    <h4 class="subheading">Lituus Sec+</h4>
                                    <h4 class="subheading">Analista de Segurança</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>2017
                                    <br>Buscando
                                    <br>Desafios</h4>
                            </div>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
