<header>
  <div class="menu">
    <ul>
      {% if site.lang == "pt-br" %}
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}">/</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/home/ferox">/home/ferox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/home/ferox/contato">/home/ferox/contato</a>
        </li>
        <li><a href="{{site.url}}"> 🇬🇧 </a></li>
      {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/">/</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/home/ferox">/home/ferox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/home/ferox/contact">/home/ferox/contact</a>
        </li>
        <li><a href="{{site.url}}{{site.baseurl}}/pt-br"> 🇧🇷 </a></li>
      {% endif %}
    </ul>
  </div>
</header>
