<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Implantação de Software-Customização-Parametrização / Consultoria / Desenvolvimento de apps</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Suporte e Manutenção Técnica</h4>
                    <p class="text-muted">Suporte no modelo SLA (Service Level Agreement), dividido em duas categorias: 24hs/7dias – suporte completo e 8hs/5dias – suporte em horário comercial.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Implantação e Implementação</h4>
                    <p class="text-muted">Desenvolvimento de estruturas de serviços que abrangem todo o ciclo de vida do projeto - desde o planejamento da solução e implementação até a melhoria contínua. Esse modelo permite tirar o máximo proveito de investimento em soluções Open Source.</p>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Treinamento</h4>
                    <p class="text-muted">Treinamento especializado para que gestores e usuários tenham o total domínio e conhecimento sobre ferramentas Open Source.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoria</h4>
                    <p class="text-muted">Análise de oferta de mercado com foco em soluções Open Source para o mundo corporativo.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-drupal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento Web</h4>
                    <p class="text-muted">Soluções para web como sites institucionais, aplicativos para facebook, hotsites, portais, sites mobile e sistemas.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento Mobile</h4>
                    <p class="text-muted">Desenvolvimento mobile partindo do seu projeto, ideia ou demanda. Crie canais de comunicação e relacionamento com seus clientes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento de Aplicações Desktops</h4>
                    <p class="text-muted">Desenvolvimento cross-plataform de aplicações e sistemas para desktop.</p>
                </div>
            </div>
        </div>
    </section>
