<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">a.k.a ferox</h2>
                    <h3 class="section-subheading text-muted">Manezinho de Floripa apesar de ter nascido em Nova Trento (cidade de imigrantes italianos do vale de Santa Catarina).</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Curioso por instinto, sempre optei por fazer o bem, experimentando o trabalho voluntário e trazendo alegria para pessoas do meu convívio. Sou um amante da tecnologia, um entusiasta dos movimentos de apoio ao software livre e código aberto. Embaixador do Projeto Fedora (LATAM), o maior projeto de software livre do mundo. Sou um ciberativista e um pirata cibernético. Faço parte da Geração Millennial. Já fui tenista, joguei alguns torneios chamados de Futures que são a porta de entrada para o profissionalismo. O tênis continua sendo um esporte de elite, infelizmente, mesmo assim ele é o meu preferido. "Meu escritório já foi na praia, porém estou sempre na área" - me considero um cara de sorte por ter vivido numa das praias mais linda do mundo, o Campeche.</p>
                    <p class="large text-muted">Floripa tem mar para banhistas, onda para surfistas, é uma estação de parada para a mais diversificada fauna da Terra. Em tempos de instabilidade econômica, sustentabilidade e de uma avalanche chamada empreendedorismo o ser humano desenvolveu uma nova raça chamada de hominis-chamaeleonis. Assim sou eu, assim é você.
                    <p class="large text-muted">Formei em 2007 no curso de Sistemas de Informação pela UNISUL. Em 2008 ingressei no curso de Pós-Graduação - Especialização em Software Livre - Implantação e Gestão de Projetos oferecido pela própria UNISUL. O curso foi sugerido pela graciosa professora Ana Luisa Mülbert. Já em 2010 tomei a decisão de ser um colaborador da SOLISC - Associação Software Livre Santa Catarina, desenvolvendo palestras e ajudando na organização de eventos para difundir o Software Livre no Estado. No mesmo ano resolvi levantar voo na área do empreendedorismo criando uma empresa prestadora de serviços de TI focada em soluções livres. Dois anos mais tarde fui convidado a ser o Coordenador Financeiro da SOLISC, aceitando o desafio de cuidar das finanças da instituição. Em 2014 ocupei o cargo de presidente da SOLISC por convite do meu amigo e colega de trabalho Klaibson Ribeiro Coordenador Geral da Associação na época.</p>
                </div>
            </div>
        </div>
    </section>